{% extends 'general/base.html.twig' %}

{% block title %}فراموشی کلمه عبور{% endblock %}

{% block plugin_body %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-primary">{{block('title') }}</h1>
                </div>
                <div class="card-body">
                    {% if send == true %}
                        <div class="alert alert-success">ایمیل بازیابی کلمه عبور ارسال شد.در صورت دریافت نکردن ایمیل پوشه اسپم را چک کنید.</div>
                    {% endif %}
                    {{ form_start(form,{'attr':{'class':'ajax-off'}}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.captcha, {
                        label: 'تشخیص روبات از انسان'
                    }) }}
                    {{ form_widget(form.submit) }}
                    <a class="btn btn-success" href="{{ path('app_login') }}">ورود به هادرون</a>
                    {{ form_end(form) }}
                </div>
            </div>        
        </div>
    </div>
{% endblock %}