{% extends 'general/base.html.twig' %}

{% block title %}ورود به هادرون{% endblock %}

{% block plugin_body %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="text-primary">{{block('title') }}</h1>
            </div>
            <div class="card-body">
                {% if msg == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>تبریک! </strong>  عضویت شما تکمیل شد. می‌توانید با اطلاعات حساب کاربری خود وارد شوید.
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endif %}
                    {% if msg == '2' %}
                        <div class="alert alert-success alert-dismissible fade show">
                            کلمه عبور تغییر یافت.هم اکنون می توانید وارد شوید.
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endif %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                <form action="{{ path('app_login') }}" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="username">پست الکترونیکی:</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="mb3">
                        <label class="form-label" for="password">کلمه عبور:</label>
                        <input class="form-control" type="password" id="password" name="_password">
                    </div>
                    
            
                    {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"> #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    
                    <button class="btn btn-success mt-2" type="submit">ورود به هادرون</button>
                    <a class="btn btn-link mt-2" href="{{ path('app_user_forget_password') }}">فراموشی کلمه عبور</a>
                    <a class="btn btn-link mt-2" href="{{ path('app_register') }}">حساب کاربری ندارید؟ عضو شوید!</a>
                </form>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
